@charset "utf-8";
body, button, input, select, textarea {
	font-family: arial, tahoma, 'helvetica neue', 'hiragino sans gb', sans-serif;/*text-align:justify;*/
}
/*#nav .nav_bg {
	background: url(../images/nav_bg.jpg) repeat-x top left;
	background-size: 100% 100%;
}*/
#nav ul.menu {
	width: 100%;
	display: block;
	height: 106px;
	font-size: 0;
}
#nav #menucell ul.menu{
	width: 841px;
	}
#nav ul.menu li {
	width: 90px;
	height: 106px;
	float: left;
}
#nav ul.menu li a {
	display: block;
	width: 100%;
}
#nav ul.menu li.enmenuitemlong {
	width: 260px;
}
#nav ul.menu li.enmenuitemmedium {
	width: 215px;
}
#nav ul.menu li.enmenuitemshort {
	width: 110px;
}
#nav .login_wrap {
	float: left;
	width: 100%;
	padding-left: 40px;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
	background: url(../images/nav_bg.jpg) repeat-x top left;
}
/*#nav .login_wrap {
	width: 260px;
	}*/
#nav .user_icon {
	background: url(../images/icon_login.png) no-repeat left 34px;
}
#nav .login {
    height: 37px;
    padding-left: 35px;
    padding-top: 40px;
}
/*已登录*/
#nav .loggedin {
	height: 37px;
	padding-left: 35px;
	padding-top: 5px;
}
#nav .loggedin .user {
	font-size: 16px;
	color: #fff;
}
#nav .loggedin .user .msg {
	text-align: center;
	font-size: 20px;
	display: inline-block;
	padding: 6px 0 0 0;
	height: 36px;
	width: 40px;
	color: #ff0000;
	background: url(../images/navmsg.png) no-repeat left top;
}
#nav .loggedin .user .username {
	vertical-align: bottom;
}
#nav .loggedin .userzone a {
	color: #a9a2b2;
	margin-right: 15px;
	font-size: 16px;
}
#nav .loggedin .userzone a:hover {
	color: #fff;
}
.kefu {
	font-size: 20px;
	padding: 15px 0 82px 0;
}
.phone {
	display: inline-block;
	width: 458px;
	height: 44px;
	display: inline-block;
	border: 1px solid #aeaeae;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	line-height: 54px;
	vertical-align: middle;
}
.hmsr {
	border: none;
	height: 44px;
	width: 334px;
	float: left;
	font-size: 24px;
	padding-left:10px;
}
.company_profile li .text {
	display: inline-block;
	height: 150px;
	text-align: center;
	padding-left: 0;
	padding-top: 50px;
	margin-right: 14px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.company_profile li:first-child .text {
	width: 252px;
	background-color: #74aab1;
}
.company_profile li:first-child .text_details {
	line-height: 1.2;
	vertical-align: middle;
	padding-top: 50px;
	padding-left: 20px;
	text-align: left;
	width: 548px;
}
.company_profile li:nth-child(2) .text {
	width: 300px;
	background-color: #cbab59;
}
.company_profile li:nth-child(2) .text_details {
	padding-top: 38px;
	padding-left: 20px;
	text-align: left;
	width: 500px;
}
.company_profile li:nth-child(3) .text {
	width: 272px;
	background-color: #75b685;
}
.company_profile li:nth-child(3) .text_details {
	padding-top: 50px;
	padding-left: 20px;
	text-align: left;
	width: 528px;
}
.company_profile li:last-child .text {
	width: 222px;
	background-color: #a37795;
}
.company_profile li:last-child .text_details {
	line-height: 150px;
	vertical-align: middle;
	width: 578px;
}
/*注册*/
.register_tab a.ontab {
	height: 40px;
	border-bottom: 5px solid #7b6735;
}
/*联系我们*/
.logo_left {
	text-align: right;
	padding: 120px 56px 0 52px;
	width: 334px;
	float: left;
	font-size: 0;
	line-height: 0;
}
.logo_left.logoleftlong{
	padding: 120px 56px 0 0;
	width: 426px;
	}
.logo_left img {
	width: 334px;
	height: 110px;
}
ul.contactus_details {
	float: left;
	padding: 68px 0 42px 60px;
	border-left: 1px solid #d2d0d0;
	color: #767171;
}
ul.contactus_details li {
	width: 600px;
	padding-left: 55px;
	font-size: 20px;
	line-height: 36px;
	margin-bottom: 50px;
	background-repeat: no-repeat;
	background-position: left 10px;
}
/*按钮*/
.btn_submit {
	height: 34px;
	border: none;
	color: #fff;
	font-size: 20px;
	width: 104px;
	margin: 4px 4px 0 0;
	float: right;
	cursor: pointer;
}
.btn_submit:hover {
	background-color: #735d8b;
}
.btn_sendcode {
	width: 200px;
	height: 46px;
	margin-left: 10px;
	font-size: 20px;
	vertical-align: top;
	padding: 0;
}
/*我的专区*/
.zonetable tr th{
    line-height: 1.2;
	}