@charset "utf-8";
/*全局CSS*/
html {
	height: 100%;
	width: 100%;
}
body {
	background-color: #fff;
	color: #474747;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
	text-decoration: none;
}
ul, li, p, h1, h2, h3, h4, label {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
img {
	border: 0;
}
button {
	-moz-border-radius: 0.03rem;
	-ms-border-radius: 0.03rem;
	-o-border-radius: 0.03rem;
	-webkit-border-radius: 0.03rem;
	border-radius: 0.03rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
input, select, textarea {
	border: 1px solid #9f9f9f;
	-moz-border-radius: 0.03rem;
	-ms-border-radius: 0.03rem;
	-o-border-radius: 0.03rem;
	-webkit-border-radius: 0.03rem;
	border-radius: 0.03rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
input[type="submit"], input[type="button"], input[type="file"], button {
	cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
	border: none;
}
input[disabled], select[disabled], textarea[disabled] {
	cursor: default;
	background-color: transparent;
	color: #474747;
	border-color: transparent;
}
input[type="submit"][disabled] {
	color: transparent;
}
button[disabled] {
	cursor: default;
	color: transparent;
	background: transparent;
	border: none;
} 
::-webkit-file-upload-button{
	background:none;
	border:none;
	line-height:0.48rem;
	padding:0;
	margin:0;}
.clear {
	clear: both;
}
.txtleft {
	text-align: left;
}
.txtcenter {
	text-align: center;
}
.txtright {
	text-align: right;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fontwhite {
	color: #fff;
}
.fontred {
	color: #ff0000;
}
.fontgreen {
	color: green;
}
.fontpurple {
	color: #735c8c;
}
.fontlightpurple {
	color: #b2a1c4;
}
.fontdarkmagenta {
	color: #a15f8e;
}
.fontteal {
	color: #527f86;
}
.fontorange {
	color: #ec7a2d;
}
.fontdarkgold {
	color: #7b6735;
}
.fontgray{
	color:#999;}
.txtuline {
	text-decoration: underline;
}
.fontsize0 {
	font-size: 0;
}
.fontsize14 {
	font-size: 0.14rem;
}
.fontsize16 {
	font-size: 0.16rem;
}
.fontsize18 {
	font-size: 0.18rem;
}
.fontsize22 {
	font-size: 0.22rem;
}
.fontsize24 {
	font-size: 0.24rem;
}
.fontsize32 {
	font-size: 0.32rem;
}
.fontsize36 {
	font-size: 0.36rem;
}
.fontsize48 {
	font-size: 0.48rem;
}
.pullleft {
	float: left;
}
.pullright {
	float: right;
}
a.link {
	color: #7381b1;
}
a.white {
	color: white;
}
a.gray {
	color: #a09f9f;
}
a.darkgray {
	color: #888888;
}
.ml10 {
	margin-left: 0.1rem;
}
.ml20 {
	margin-left: 0.2rem;
}
.mr10 {
	margin-right: 0.1rem;
}
.mr20 {
	margin-right: 0.2rem;
}
.mt10 {
	margin-top: 0.1rem;
}
.mt20 {
	margin-top: 0.2rem;
}
.mb10 {
	margin-bottom: 0.1rem;
}
.mb20 {
	margin-bottom: 0.2rem;
}
.pt20 {
	padding-top: 0.2rem;
}
.pb20 {
	padding-bottom: 0.2rem;
}
.pl20 {
	padding-left: 0.2rem;
}
.pr20 {
	padding-right: 0.2rem;
}
.lineheight_n {
	line-height: 1.6;
}
.vertical_t {
	vertical-align: top;
}
.vertical_m {
	vertical-align: middle;
}
.vertical_b {
	vertical-align: bottom;
}
::-webkit-input-placeholder {
color:#ccc;
}    /* 使用webkit内核的浏览器 */
:-moz-placeholder {
color:#ccc;
}                  /* Firefox版本4-18 */
::-moz-placeholder {
color:#ccc;
}                  /* Firefox版本19+ */
:-ms-input-placeholder {
color:#ccc;
}           /* IE浏览器 */
.flexbox {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.horizontal {
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-o-box-orient: horizontal;
	flex-direction: row;
}
.vertical {
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	flex-direction: column;
}
.flexfull_h{
	height:100%;}
.flexfull_w{
	width:100%;}
.flex_1 {
	flex-grow: 1;
}
.flex_2 {
	flex-grow: 2;
}
/*横向的排列*/
.hor_s {
	justify-content: start;
}
.hor_c {
	justify-content: center;
}
.hor_e {
	justify-content: end;
}
/*纵向的排列*/
.ver_s {
	align-items: start;
}
.ver_c {
	align-items: center;
}
.ver_e {
	align-items: end;
}
.radius3 {
	-moz-border-radius: 0.03rem;
	-ms-border-radius: 0.03rem;
	-o-border-radius: 0.03rem;
	-webkit-border-radius: 0.03rem;
	border-radius: 0.03rem;
}
.radius5 {
	-moz-border-radius: 0.05rem;
	-ms-border-radius: 0.05rem;
	-o-border-radius: 0.05rem;
	-webkit-border-radius: 0.05rem;
	border-radius: 0.05rem;
}
.radius63 {
	-moz-border-radius: 0.63rem;
	-ms-border-radius: 0.63rem;
	-o-border-radius: 0.63rem;
	-webkit-border-radius: 0.63rem;
	border-radius: 0.63rem;
}
.borderwhite {
	border-color: #fff;
}
.borderpurple {
	border-color: #735c8c;
}
.borderbox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.ellipsis {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.ellipsis_cont {
	display: table-cell;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.nowrap {
	white-space: nowrap;
}
.bg_white{
	background-color:#fff;}
