@charset "utf-8";
@media only screen and (max-width:319px){
    html{font-size: 9px;}
}

@media only screen and (min-width:320px){
    html{font-size: 10px;}
}

@media only screen and (min-width:384px){
    html{font-size: 12px;}
}

@media only screen and (min-width:448px){
    html{font-size: 14px;}
}

@media only screen and (min-width:512px){
    html{font-size: 16px;}
}

@media only screen and (min-width:576px){
    html{font-size: 18px;}
}

@media only screen and (min-width:640px){
    html{font-size: 20px;}
}
@media only screen and (min-width:1024px){
    html{font-size: 38.4px;}
}
@media only screen and (min-width:1366px){
    html{font-size: 51.225px;}
}

